.news-card {
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 190px;
  background: $color-solitude-2;
  border-radius: 16px;

  &__date {
    margin: 0 0 12px 0;
    font-size: 14px;
    line-height: 18px;
    color: $color-storm-grey-1;
  }

  &__text {
    font-weight: 400;
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 18px;
  }

  &__link {
    margin: auto 0 0 0;
    display: flex;
    align-items: center;
    gap: 0 8px;
    font-size: 14px;
    line-height: 18px;
    color: $color-black-russian;
  }

  &__icon {
    flex-shrink: 0;
  }
}
